<ion-view view-title="About">
  
  <ion-content>
    
    <!-- the content -->
    <div style="text-align: left; padding: 15px;">
      Business Administration Discipline (BAD) is the first Discipline of Management and Business Administration School at present. The Discipline started its journey in 1991 with 80 students. The discipline duly deserves the credit for introducing four-yearly business graduation program for the first time in the country. 

    </div>
    <br/><br/>

    <div style="text-align: center">
      <img src="img/bad_logo.jpg" alt="logo" />
    </div>

    <br/><br/>

    <div style="text-align: left; padding: 15px;">
      Currently the discipline offers bachelor’s (130 credits) and master’s (60 credits) degrees, Evening MBA, Executive MBA in business administration. The academic year is semester-based. The discipline also offers various short courses related to business field. 

    </div>
    <br/><br/>

    <div style="text-align: center">
      <img style="width: 220px; height: 150px;" src="img/ku_logo.jpg" alt="logo" />
    </div>

    <br/><br/>

    <div style="text-align: left; padding: 15px;">
      The discipline is devoted to advanced, promulgated, and patronized formal business education, training, and research. It is performing a unique role in the national scenario by providing the business community with befitting business executives, talents, intellectuals, and business leaders. Since the inception in 1991, around 500 students have graduated from this Discipline.
 

    </div>
    <br/><br/>

    <!-- // content -->
  </ion-content>


</ion-view>