<ion-view view-title="Contact">

  <ion-content>

    <!-- the content -->

    <br/>

    <div style="padding-left: 20px">
        

        <div style="padding-left: 10px" class="card">
            <h5>Contact</h5>
            Business Administration Discipline <br/>
            Khulna University <br/>
            Khulna - 9208 <br/>
            Bangladesh <br/>
            Phone: (+88)(041) 2831547 <br/>
            PABX: (+88)(041) 720171-3, Ext-1155 <br/><br/>
        </div>

    </div>

    <div style="padding: 20px; text-align: center">
        <a onclick="window.open('http://www.kuba.ac.bd/', '_system', 'location=yes'); return false;" class="button button-block button-royal">
            Website
        </a>
    </div>

    
    <!-- // content -->
  </ion-content>


</ion-view>