<ion-view view-title="Business Administration Discipline">

  <ion-content>

    <!-- the content -->

    <br/><br/><br/>

    <div style="text-align: center">
      <img src="img/bad_logo.jpg" alt="logo" />
    </div>

    <br/><br/><br/>


    <div style="text-align: center">
      <button class="button button-large button-positive" menu-toggle="left">
        Get Started
      </button>
    </div>

    <br/><br/>

    <div style="padding: 20px; text-align: left">
      <small>
        
        <strong>Please Note: </strong> This is a beta version of an upcoming full featured app. 
        This version only contains generic information about the discipline.<br/><br/>

        The app, when complete, shall provide useful services to the students and the faculties. 
        Academic Schedules, Announcements and other important notficiations are few of the planned
        ideas. If you have any ideas / suggestions / feedback, feel free to share. <br/><br/>


      </small>

    </div>

    <!-- // content -->
  </ion-content>


</ion-view>