<ion-view view-title="Programs">

  <ion-content>

    <!-- the content -->

    <br/><br/><br/>

    <div style="padding-left: 20px">
        <strong>BBA</strong> and <strong>MBA</strong> are the two major programs offered by the discipline. 
        Besides them <strong>MBA (Evening)</strong>, <strong>MBA (Executive)</strong> and <strong> Training
        for Officers (Bangladesh Navy)</strong>  are also offered. 

        <div style="padding-left: 10px" class="card">
            <h5>BBA</h5>
            Program duration:  4 Years <br/>
            Number of terms: 08 <br/>
            Term duration: 21 Weeks <br/>
            Total number of credit hours available: 130 <br/>
            Minimum credit hours to be earned: 130 <br/>
        </div>

        <div style="padding-left: 10px" class="card">
            <h5>MBA</h5>
            Program duration:  2 Years <br/>
            Number of terms: 04 <br/>
            Term duration: 21 Weeks <br/>
            Total number of credit hours available: 60 <br/>
            Minimum credit hours to be earned: 60 <br/>
        </div>

    </div>

    
    <!-- // content -->
  </ion-content>


</ion-view>